<?xml version="1.0"?>

<model>
  <name>bluerov2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Patrick Jose Pereira</name>
    <email>patrick@bluerobotics.com</email>
  </author>

  <maintainer email="patrick@bluerobotics.com">Patrick Jose Pereira</maintainer>

  <description>
    Blue Robotics BlueROV2 model
  </description>
</model>
