<?xml version="1.0"?>

<model>
  <name>br2_ping</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Clyde McQueen</name>
    <email>clyde@mcqueen.net</email>
  </author>

  <maintainer email="clyde@mcqueen.net">Clyde McQueen</maintainer>

  <description>
    Blue Robotics BlueROV2 with down-facing Ping Sonar
  </description>
</model>
